<!-- Config file for the game -->

<config>

  <!-- App Configuration -->
  <app framerate="0" />
  
  <!-- Each module has its own node. Separate configuration -->
  <window>
    <resolution width="640" height="480" scale="1"  />
    <properties borderless='false'
                fullscreen='false' 
                resizable='false'
                windowed='false' />
    <name>StarCraft</name>
  </window>

  <render vsync='false'>
  </render>

  <file_system>
    <path>data.zip</path>
    <!--<path>Zerg.zip</path>
    <path>Terran.zip</path>
    <path>UI.zip</path>
    <path>Audio.zip</path>
    <path>Particles.zip</path>-->
	    
  </file_system>

  <entity_manager>
    <costs
      bunker_mineral_cost = "100"
      bunker_gas_cost = "0"
      barrack_mineral_cost = "150"
      barrack_gas_cost = "0" 
      factory_mineral_cost = "200"
      factory_gas_cost = "100" 
      
      marine_mineral_cost = "50"
      marine_gas_cost = "0"
      firebat_mineral_cost = "50"
      firebat_gas_cost = "25"
      scv_mineral_cost = "50"
      scv_gas_cost = "0"
      medic_mineral_cost = "50"
      medic_gas_cost = "25"     
      tank_mineral_cost = "150"
      tank_gas_cost = "100" 
      
      zergling_mineral_cost = "50"
      zergling_gas_cost = "10" 
      hydralisk_mineral_cost = "75"
      hydralisk_gas_cost = "25" 
      ultralisk_mineral_cost = "200"
      ultralisk_gas_cost = "200" 
      mutalisk_mineral_cost = "100"
      mutalisk_gas_cost = "50"       
  />    
  </entity_manager>
  
  <game_manager>

    <!-- Game Information -->
    <totalWaves value = "7"/>
    <timeBeforeGameStarts value ="2.0f"/>
    <timeBetweenWavesPhase1 value = "50000000000000000.0f"/>
    <timeBetweenWavesPhase2 value = "10.0f"/>
    <timeBetweenWavesPhase3 value = "15.0f"/>
    <timeBeforeWhileBombLanding value ="10.0f"/>
    <timeBeforeEnd value = "10.0f"/>
    <timeBomb value = "240.0f" />
    
    <!--Debug-->
    <hold value ="false"/>
    <!--<phase1 value ="false"/>
    <phase2 value ="false"/>
    <phase3 value ="false"/> -->   
    
    <!-- Wave Information -->    
    <SizeWave zerglings ="5" hydralisks ="0" mutalisks ="0" ultralisks ="0"/>
    <SizeWave zerglings ="7" hydralisks ="1" mutalisks ="0" ultralisks ="0"/>
    <SizeWave zerglings ="8" hydralisks ="3" mutalisks ="0" ultralisks ="0"/>
    <SizeWave zerglings ="12" hydralisks ="5" mutalisks ="1" ultralisks ="0"/>
    <SizeWave zerglings ="18" hydralisks ="10" mutalisks ="0" ultralisks ="0"/>
    <SizeWave zerglings ="25" hydralisks ="15" mutalisks ="" ultralisks ="0"/>
    <SizeWave zerglings ="35" hydralisks ="16" mutalisks ="8" ultralisks ="0"/>
    
    <SizeWave2 zerglings ="10" hydralisks ="0" mutalisks ="0" ultralisks ="0"/>
    
    <SizeWave3 zerglings ="15" hydralisks ="1" mutalisks ="1" ultralisks="1"/>
    
    <!-- Player Units -->
    <InitialSizePlayer marinesX="2" marinesY="2" medic ="1" scv ="1"/>
    <CommandCenterPosition coordx="2000" coordy= "2150"/>    
    
    <!-- Score--> 
    <ZerglingScore value = "5" />
    <HydraliskScore value = "15" />
    <MutaliskScore value = "15" />
    <UltraliskScore value = "50" />    
    
    <multiplierHydra value ="3" />
    <multiplierMuta value ="6" />
    <multiplierUltra value ="8" />
    
    <!-- Difficulty -->
    <powerHydra value = "1" />
    <powerMuta value = "1" />
    <powerUltra value = "1" />
    
    
    
  </game_manager>

  <fonts>
    <default_font size="24" file="UI/Font/Starcraft_Normal.ttf"/>
    <resources_font size="12" file="UI/Font/OpenSans-Regular.ttf"/>
    <default_font size="12" file="UI/Font/OpenSans-Regular.ttf"/>
  </fonts>
  
  <map>
    <folder>maps/</folder>
  </map>

 <gui>
    <atlas file="UI/TerranConsole/UI_Panel_Terran2.png"/>
 </gui>
  
  
</config>