<!-- Config file for the game -->

<config>

  <!-- App Configuration -->
  <app framerate="0" />
  
  <!-- Each module has its own node. Separate configuration -->
  <window>
    <resolution width="640" height="480" scale="1"  />
    <properties borderless='false'
                fullscreen='false' 
                resizable='false'
                windowed='false' />
    <name>StarCraft</name>
  </window>

  <render vsync='false'>
  </render>

  <file_system>
    <path>data.zip</path>
    <path>Zerg.zip</path>
    <path>Terran.zip</path>
    <path>UI.zip</path>
    <path>Audio.zip</path>
	<path>starcraft_font.zip</path>
	    
  </file_system>

  <game_manager>

    <!-- Game Information -->
    <totalWaves value = "2.0f"/>
    <timeBeforeStart value = "180.0f"/>
    <timeBetweenWavesPhase1 value = "60.0f"/>
    <timeBetweenWavesPhase2 value = "15.0f"/>
    <timeBeforeEnd value = "20.0f"/>
    
    
    <!-- Wave Information -->
    
    <SizeWave1 zerglings ="4" hydralisks ="0" />
    <SizeWave2 zerglings ="5" hydralisks ="0" mutalisks ="2"/>
    <SizeWave3 zerglings ="5" hydralisks ="0" mutalisks ="2"/>
    
    <!-- Player Units -->
    <InitialSizePlayer marines="10" medic ="3" scv ="1"/>
    
    <!-- Score--> 
    <ZerglingScore value = "20" />
    <HydraliskScore value = "40" />
    <MutaliskScore value = "50" />
    
    
      
  </game_manager>

  <fonts>
    <default_font size="24" file="Starcraft_Normal.ttf"/>
    <default_font size="12" file="OpenSans-Regular.ttf"/>
  </fonts>
  
  <map>
    <folder>maps/</folder>
  </map>

 <gui>
    <atlas file="TerranConsole/UI_Panel_Terran.png"/>
 </gui>
  
  
</config>