<!-- Config file for the game -->

<config>

  <!-- App Configuration -->
  <app framerate="0" />
  
  <!-- Each module has its own node. Separate configuration -->

  <window>
    <resolution width="800" height="600" scale="1"  />
    <properties borderless='false'
                fullscreen='false' 
                resizable='false'
                windowed='false' />
    <name>StarCraft</name>
  </window>

  <render vsync='false'>
  </render>

  <file_system>
    <path>data.zip</path>
    <path>Terran.zip</path>
    <path>Zerg.zip</path>	
  </file_system>

  <map>
    <folder>maps/</folder>
  </map>

 <gui>
    <atlas file="gui/UI_Terran_Starcraft_2.png"/>
 </gui>
  
  
</config>